<div class="trending">
  <div class="container">
    <h1>Trendings</h1>
    <div class="trending__list">
      <ng-container *ngFor="let movie of trendingMovies | slice: 0: 12">
        <app-movie-card
          [movieType]="movie.media_type"
          [imgSrc]="'https://image.tmdb.org/t/p/w220_and_h330_face' + movie.backdrop_path"
          [movieName]="movie.name ? movie.name : movie.title || ''"
          [date]="movie.first_air_date ? movie.first_air_date : movie.release_date || ''"
          [movieId]="movie.id"
        ></app-movie-card>
      </ng-container>
    </div>
  </div>
</div>
