.header {
  background: #fff;
  &__nav {
    display: flex;
    align-items: center;
    height: 50px;
    padding: 5px 0;
  }
  &__link {
    margin-right: 10px;
    font-size: 16px;
    color: #032541FF;
    text-decoration: none;
    &.active {
      text-decoration: underline;
    }
  }
}
