<div class="container _inner" *ngIf="person$ | async as person">
  <ng-container *ngIf="person; else preloader">
    <app-person-dashboard
      [personImg]="person.profile_path"
      [personName]="person.name"
      [personBirthday]="person.birthday"
      [personPlace]="person.place_of_birth"
      [personDepartment]="person.known_for_department"
      [personBiography]="person.biography"
    ></app-person-dashboard>
    <app-person-participate [personParticipate]="person.movie_credits.cast" [title]="'Acting'"></app-person-participate>
    <app-person-participate [personParticipate]="person.movie_credits.crew" [title]="'Production'"></app-person-participate>
  </ng-container>
  <ng-template #preloader>
    <div class="lds-dual-ring"></div>
  </ng-template>
</div>
