@import "src/styles/mixins";

.movies-section {
  h1 {
    text-transform: capitalize;
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 15px;
    @include bp768 {
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      grid-gap: 25px;
    }
  }
}
