<div class="cast">
    <span class="cast__title">Crew cast:</span>
    <div class="cast__list">
        <ng-container *ngFor="let crew of castCrew; trackBy: 'id' | trackBy">
            <div class="cast__person">
                <img [src]="crew.profile_path ? (crew.profile_path | imageUrl) : '/assets/user-icon.svg'"
                     [class._no-photo]="!crew.profile_path"
                     alt=""
                     class="cast__photo"
                >
                <span class="cast__name"><b>Crew name:</b> {{crew.name}}</span>
                <span class="cast__job"><b>Department:</b> {{crew.department}}</span>
                <span class="cast__job"><b>{{crew.job}}</b></span>
            </div>
        </ng-container>
    </div>
</div>
