* {
  box-sizing: border-box;
  outline: none;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 24px;
  &._inner {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
body {
  margin: 0;
  font-size: 16px;
  line-height: 1.2;
}
