<div class="person-dashboard">
  <img [src]="personImg ? (personImg | imageUrl) : './assets/user-icon.svg'
"
       [class._no-photo]="!personImg"
       class="person-dashboard__photo"
       alt="{{personName}} photo"
  >
  <span class="person-dashboard__text person-dashboard__text--name">{{personName}}</span>
  <span class="person-dashboard__text person-dashboard__text--birthday"><b>Date of birth:</b> {{personBirthday}}</span>
  <span class="person-dashboard__text person-dashboard__text--place"><b>Place of birth:</b> {{personPlace}}</span>
  <span class="person-dashboard__text person-dashboard__text--department"><b>Department:</b> {{personDepartment}}</span>
  <hr>
  <span class="person-dashboard__text person-dashboard__text--biography">{{personBiography}}</span>
</div>
