<div class="person-dashboard">
  <img [src]="person.profile_path ? (person.profile_path | imageUrl) : './assets/user-icon.svg'
"
       [class._no-photo]="!person.profile_path"
       class="person-dashboard__photo"
       alt="{{person.name}} photo"
  >
  <div class="person-dashboard__content">
    <span class="person-dashboard__text person-dashboard__text--name">{{person.name}}</span>
    <span class="person-dashboard__text person-dashboard__text--birthday" *ngIf="person.birthday"><b>Date of birth:</b> {{person.birthday}}</span>
    <span class="person-dashboard__text person-dashboard__text--place" *ngIf="person.place_of_birth"><b>Place of birth:</b> {{person.place_of_birth}}</span>
    <span class="person-dashboard__text person-dashboard__text--department" *ngIf="person.known_for_department"><b>Department:</b> {{person.known_for_department}}</span>
    <span class="person-dashboard__text person-dashboard__text--biography" *ngIf="person.biography">{{person.biography}}</span>
  </div>
</div>
